/* src/styles/PeriodCalendar.module.css */

.calendarPageContainer {
    padding: 0 1rem;
}

/* アイコンの色を指定 */
.periodIcon {
  color: #f43f5e;
}
.ovulationIcon {
  color: #f97316;
}

/* 鉛筆アイコン関連のスタイルはすべて削除 */

:global(.period-calendar .day-ovulation .fc-daygrid-day-number) {
  font-weight: bold;
  background-color: #fff7ed;
  color: #c2410c;
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.8em;
  text-align: center;
}